@import './reset.scss';
@import './typography.scss';
@import './variables.scss';

html {
  color: var(--color-white);
  background-color: var(--color-blue);
  @extend .text-16;

  /* 1024px + */

  @media screen and (min-width: 1024px) {
    scroll-padding-top: 90px;
  }
}