html {
  scroll-behavior: smooth;

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  @media screen and (min-width: 1024px) {
    scroll-padding-top: 90px;
  }
}