html {
  --color-white: rgba(255, 255, 255, .9);
  --color-grey: rgba(255, 255, 255, .6);
  --color-yellow-light: rgba(216, 196, 14, .75);
  --color-yellow: rgba(216, 196, 14, .9);
  --color-blue-light: rgb(9, 36, 67);
  --color-blue: rgb(6, 24, 45);
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: .5px;
  color: var(--color-white);
  background-color: var(--color-blue);
  scroll-behavior: smooth;

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  /* 1024px + */

  @media screen and (min-width: 1024px) {
    scroll-padding-top: 90px;
  }
}