@import "./reset.scss";
@import "./export.scss";

html {
  color: $color-white;
  background-color: $color-blue;
  scroll-behavior: smooth;
  --color-blue-light: #{$color-blue-light};
  @extend .text-16;

  /* 1024px + */

  @media screen and (min-width: $screen-large) {
    scroll-padding-top: 90px;
  }
}