@import "./variables.scss";

.container {
  text-align: center;
  max-width: $screen-extra-small;
  width: 100%;
  padding: 0 20px;
  margin: auto;

  &__title {
    color: $color-yellow;
    transition: opacity .25s ease-in-out;

    &:hover {
      opacity: .75;
    }
  }

  &__subtitle {
    color: $color-grey;
  }

  &__link {
    color: $color-white;
    transition: color .25s ease-in-out;

    &:hover {
      color: $color-yellow;
    }
  }
}