@import "./export.scss";

.root {
  text-align: center;
  max-width: $screen-extra-small;
  margin: auto;
  padding: 40px 20px;

  &__title {
    color: $color-yellow;
    transition: opacity .25s ease-in-out;
    @extend .text-80-semi-bold;

    &:active {
      opacity: .75;
    }
  }

  &__subtitle {
    color: $color-grey;
    @extend .text-20-medium;
  }

  &__link {
    color: $color-white;
    transition: color .25s ease-in-out;
    @extend .text-20-medium;

    &:active {
      color: $color-yellow;
    }
  }

  // 1024px +

  @media screen and (min-width: $screen-large) {
    padding: 60px 30px;

    &__title:hover {
      opacity: .75;
    }

    &__link:hover {
      color: $color-yellow;
    }
  }
}