@import "./export.scss";

.container {
  text-align: center;
  margin: auto;
  @extend .container-extra-small;

  &__title {
    color: $color-yellow;
    transition: opacity .25s ease-in-out;
    @extend .text-80-semi-bold;

    &:hover {
      opacity: .75;
    }
  }

  &__subtitle {
    color: $color-grey;
    @extend .text-20-medium;
  }

  &__link {
    color: $color-white;
    transition: color .25s ease-in-out;
    @extend .text-20-medium;

    &:hover {
      color: $color-yellow;
    }
  }
}