.container {
  display: flex;
  flex-direction: column;
  gap: 60px 90px;
  width: 100%;
  padding: 60px 20px;
  margin: 0 auto;

  .header {
    display: flex;
    flex-direction: column;
    max-width: 375px;

    &__title {
      width: fit-content;
      color: var(--color-yellow);
      transition: opacity .25s ease-in-out;

      &:hover {
        opacity: .75;
      }
    }

    &__description {
      margin-top: 20px;
      color: var(--color-grey);
    }

    .contact {
      display: flex;
      flex-wrap: wrap;
      gap: 10px 20px;
      margin-top: 20px;

      &__link {
        display: inline-flex;

        svg {
          transition: color .25s ease-in-out;
        }

        &:hover {
          color: var(--color-yellow);
        }
      }
    }
  }

  .block {

    &__headline {
      position: sticky;
      top: 0;
      padding: 20px;
      margin: 0 -20px;
      backdrop-filter: blur(10px);
    }

    &__title {
      transition: color .25s ease-in-out;

      &:hover {
        color: var(--color-yellow);
      }
    }

    &____active .block__headline {
      color: var(--color-yellow);

      .block__title:hover {
        color: var(--color-yellow-light);
      }
    }

    &:not(:first-child) {
      margin-top: 60px;
    }
  }

  /* 640px + */

  @media screen and (min-width: 640px) {
    max-width: 640px;
  }

  /* 768px + */

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  /* 1024px + */

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    max-width: 1024px;
    padding: 0 30px;

    .header {
      position: sticky;
      top: 0;
      width: 45%;
      height: 100vh;
      padding: 90px 0;

      .contact {
        padding-top: 90px;
        margin-top: auto;
      }
    }

    .blocks {
      width: 55%;
      padding: 90px 0;

      .block:not(:first-child) {
        margin-top: 90px;
      }
    }
  }
}