@import "./export.scss";

.root {
  display: flex;
  flex-direction: column;
  gap: 60px 90px;
  width: 100%;
  padding: 0 20px;
  margin: 60px auto;

  .header {
    display: flex;
    flex-direction: column;

    &__title {
      width: fit-content;
      color: $color-yellow;
      transition: opacity .25s ease-in-out;
      @extend .text-40-semi-bold;

      &:hover {
        opacity: .75;
      }
    }

    &__subtitle {
      @extend .text-20-medium;
    }

    &__description {
      margin-top: 20px;
      color: $color-grey;
    }

    .contact {
      display: flex;
      flex-wrap: wrap;
      gap: 10px 20px;
      margin-top: 20px;

      &__link {
        display: inline-flex;

        svg {
          transition: color .25s ease-in-out;
        }

        &:hover {
          color: $color-yellow;
        }
      }
    }
  }

  .block {

    &__headline {
      position: sticky;
      top: 0;
      padding: 20px;
      margin: 0 -20px;
      backdrop-filter: blur(10px);
    }

    &__title {
      transition: color .25s ease-in-out;
      @extend .text-12-semi-bold;

      &:hover {
        color: $color-yellow;
      }
    }

    &____active .block__title {
      color: $color-yellow;

      &:hover {
        color: $color-yellow-light;
      }
    }

    &:not(:first-child) {
      margin-top: 60px;
    }
  }

  // 640px +

  @media screen and (min-width: $screen-small) {
    max-width: $screen-small;
  }

  // 768px +

  @media screen and (min-width: $screen-medium) {
    max-width: $screen-medium;
  }

  /* 1024px + */

  @media screen and (min-width: $screen-large) {
    flex-direction: row;
    max-width: $screen-large;
    padding: 0 30px;
    margin: 0 auto;

    .header {
      position: sticky;
      top: 0;
      width: 45%;
      height: 100vh;
      padding: 90px 0;

      .contact {
        padding-top: 90px;
        margin-top: auto;
      }
    }

    .blocks {
      width: 55%;
      margin: 90px 0;

      .block:not(:first-child) {
        margin-top: 90px;
      }
    }
  }
}