@import './variables.scss';

.root {
  line-height: 1.7;
  letter-spacing: .5px;
  color: $color-white;
  background-color: $color-blue-dark;

  .main {
    padding: 60px 0;
    color: $color-blue-light;
    background: radial-gradient(ellipse at center, currentColor, transparent 75%);

    .container {
      display: flex;
      flex-direction: column;
      row-gap: 60px;
      width: 100%;
      padding: 0 20px;
      color: $color-white;

      .header {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .lead {
          display: flex;
          flex-direction: column;
          row-gap: 20px;

          &__headline {
            display: flex;
            flex-direction: column;
          }

          &__title {
            font-size: 40px;
            font-weight: 600;
            width: fit-content;
            color: $color-yellow;
          }

          &__subtitle {
            font-size: 20px;
            font-weight: 500;
          }

          &__description {
            color: $color-grey;
          }
        }

        .contact {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;

          &__link {
            display: flex;

            svg {
              transition: color .25s ease-in-out;
            }

            &:hover {
              color: $color-yellow;
            }
          }
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        row-gap: 60px;

        .blocks {
          display: flex;
          flex-direction: column;
          row-gap: 20px;

          &__headline {
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 2px;
            text-transform: uppercase;
            position: sticky;
            top: 0;
            padding: 20px;
            margin: 0 -20px;
            backdrop-filter: blur(10px);

            &____active {
              color: $color-yellow
            }
          }

          &__title {
            transition: color .25s ease-in-out;

            &:hover {
              color: $color-yellow;
            }
          }

          &__content {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            .block {
              display: flex;
              flex-direction: column;
              row-gap: 20px;
              padding: 20px;
              background-color: rgba($color-white, .025);
              border-radius: 10px;

              &__header {
                display: flex;
                flex-direction: column;
                row-gap: 5px;
              }

              &__headline {
                display: flex;
                align-items: center;
                column-gap: 10px;

                svg {
                  transition: color .25s ease-in-out;
                }
              }

              &__overline {
                font-size: 12px;
                font-weight: 500;
                color: $color-grey;
              }

              &__title {
                font-weight: 500;
                color: currentColor;
                transition: color .25s ease-in-out;
              }

              &__description {
                font-size: 14px;
                color: $color-grey;
              }

              &__tags {
                font-size: 12px;
                font-weight: 500;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                color: $color-blue-dark;
              }

              &__tag {
                display: flex;
                align-items: center;
                padding: 5px 10px;
                background-color: rgba($color-white, .85);
                border-radius: 10px;
              }

              &____link:hover {
                color: $color-yellow;
              }
            }
          }
        }
      }
    }

    /* 640px + */

    @media screen and (min-width: 640px) {
      display: flex;
      flex-direction: column;
      align-items: center;

      .container {
        max-width: 640px;

        .header {
          max-width: 375px;
        }
      }
    }

    /* 768px + */

    @media screen and (min-width: 768px) {

      .container {
        max-width: 768px;
      }
    }

    /* 1024px + */

    @media screen and (min-width: 1024px) {
      padding: 0;
      background: transparent;

      .container {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 90px;
        max-width: 1024px;
        padding: 0 30px;

        .header {
          position: sticky;
          top: 0;
          justify-content: space-between;
          row-gap: 90px;
          width: 45%;
          height: 100vh;
          padding: 90px 0;
        }

        .content {
          row-gap: 90px;
          width: 55%;
          padding: 90px 0;
        }
      }
    }
  }
}