@import "../../styles/export.scss";

.root {
  display: flex;
  width: 100%;
  min-height: var(--screen-height, 100vh);
  background: radial-gradient(ellipse at center, $color-blue-light, transparent 75%) no-repeat fixed;
}