@import "./export.scss";

.root {
  display: flex;
  flex-direction: column;
  gap: 60px 90px;
  width: 100%;
  padding: 0 20px;
  margin: 60px auto;

  .header {
    display: flex;
    flex-direction: column;

    &__title {
      width: fit-content;
      color: $color-yellow;
      transition: opacity .25s ease-in-out;
      @extend .text-40-semi-bold;

      &:active {
        opacity: .75;
      }
    }

    &__subtitle {
      @extend .text-20-medium;
    }

    &__description {
      margin-top: 20px;
      color: $color-grey;
    }

    .navigation {
      display: none;
      margin-top: 90px;
      @extend .text-12-semi-bold;

      &__link {
        display: flex;
        align-items: center;
        width: fit-content;
        transition: color .25s ease-in-out;

        &:not(:first-of-type) {
          margin-top: 15px;
        }

        &::before {
          width: 30px;
          margin-right: 15px;
          border-bottom: 1px solid $color-grey;
          transition: width .25s ease-in-out;
          content: "";
        }

        &:hover {
          color: $color-yellow;

          &:before {
            width: 60px;
          }
        }

        &____active {
          color: $color-yellow;

          &:before {
            width: 60px;
          }

          &:hover {
            color: $color-yellow-light;
          }
        }
      }
    }

    .contact {
      display: flex;
      flex-wrap: wrap;
      gap: 10px 20px;
      margin-top: 20px;

      &__link {
        display: inline-flex;

        svg {
          transition: color .25s ease-in-out;
        }

        &:active {
          color: $color-yellow;
        }
      }
    }
  }

  .block {

    &__headline {
      position: sticky;
      top: 0;
      padding: 20px;
      margin: 0 -20px;
      backdrop-filter: blur(10px);
    }

    &__title {
      transition: color .25s ease-in-out;
      @extend .text-12-semi-bold;

      &:active {
        color: $color-yellow;
      }
    }

    &____active .block__title {
      color: $color-yellow;

      &:active {
        color: $color-yellow-light;
      }
    }

    &:not(:first-child) {
      margin-top: 60px;
    }
  }

  // 640px +

  @media screen and (min-width: $screen-small) {
    max-width: $screen-small;
  }

  // 768px +

  @media screen and (min-width: $screen-medium) {
    max-width: $screen-medium;
  }

  /* 1024px + */

  @media screen and (min-width: $screen-large) {
    flex-direction: row;
    max-width: $screen-large;
    padding: 0 30px;
    margin: 0 auto;

    .header {
      position: sticky;
      top: 0;
      width: calc(50% - 90px);
      height: 100vh;
      padding: 90px 0;

      &__title:hover {
        opacity: .75;
      }

      .navigation {
        display: block;
      }

      .contact {
        padding-top: 90px;
        margin-top: auto;

        &__link:hover {
          color: $color-yellow;
        }
      }
    }

    .blocks {
      width: 50%;
      margin: 90px 0;

      .block {

        &__headline {
          visibility: hidden;
          height: 1px;
          padding: 0;
        }

        &:not(:first-child) {
          margin-top: 90px;
        }
      }
    }
  }
}