@import '../../styles/variables.scss';

.root {
  width: 100%;
  padding: 60px 0;
  background: radial-gradient(ellipse at center, var(--color-blue-light), transparent 75%);

  /* 1024px + */

  @media screen and (min-width: 1024px) {
    padding: 0;
    background: transparent;
  }
}