@import "../../styles/export.scss";

.root {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(ellipse at center, $color-blue-light, transparent 75%);
  --color-blue-light: #{$color-blue-light};

  &[data-max-height] {
    max-height: var(--screen-height);
  }

  /* 1024px + */

  @media screen and (min-width: $screen-large) {
    background: none;
  }
}