@import "../../styles/export.scss";

.root {
  display: flex;
  width: 100%;
  background: radial-gradient(ellipse at center, $color-blue-light, transparent 75%);
  --color-blue-light: #{$color-blue-light};

  &:not([data-contain]) {
    min-height: 100vh;
  }

  &[data-contain] {
    height: 100vh;
    max-height: var(--screen-height);
  }

  /* 1024px + */

  @media screen and (min-width: $screen-large) {
    background: none;
  }
}