@import "../../styles/export.scss";

.root {
  padding: 20px;
  background-color: rgba(255, 255, 255, .015);
  border-radius: 10px;
  margin-top: 20px;

  &__overline {
    color: $color-grey;
    @extend .text-12-medium;
  }

  &__headline {
    margin-top: 5px;

    svg {
      margin-right: 10px;
      transition: color .25s ease-in-out;
    }
  }

  &__title {
    font-weight: 500;
    transition: color .25s ease-in-out;
  }

  &__description {
    margin-top: 20px;
    color: $color-grey;
    @extend .text-14;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    color: $color-blue;
    @extend .text-12-medium;
  }

  &__tag {
    padding: 5px 10px;
    background-color: $color-white;
    border-radius: 10px;
  }

  &____link {
    display: block;

    &:active .root__headline {
      color: $color-yellow;
    }
  }

  &:not(:has(:nth-child(n+2))) * {
    margin-top: 0;
  }

  // 1024px +

  @media screen and (min-width: $screen-large) {

    &____link:hover .root__headline {
      color: $color-yellow;
    }
  }
}