@import '../../styles/variables.scss';

.main {
  width: 100%;
  padding: 60px 0;
  color: $color-blue-light;
  background: radial-gradient(ellipse at center, currentColor, transparent 75%);

  /* 1024px + */

  @media screen and (min-width: 1024px) {
    padding: 0;
    background: transparent;
  }
}