@import "../../styles/export.scss";

.container {
  display: flex;
  width: 100%;
  background: radial-gradient(ellipse at center, $color-blue-light, transparent 75%);
  min-height: var(--screen-height);

  /* 1024px + */

  @media screen and (min-width: $screen-large) {
    background: none;
  }
}